@font-face {
    font-family: 'Pixelify Sans';
    src: url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
}

body {
    font-family: 'Pixelify Sans','Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}


.historia {
    text-align: center;
}

.sem-link {
    text-decoration: none;
    color: #333; /* Pode personalizar a cor do texto conforme desejado */
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    font-size: 24px;
}

#main-content {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 15px;
}

 /* Definindo a animação de piscar */
 @keyframes piscar {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Aplicando a animação ao texto */
.piscante {
    animation: piscar 2s infinite; /* 1s de duração, infinito número de vezes */
}
  
  
  /*
   * Basic button style
   */
  .btn {
    box-shadow: 1px 1px 0 rgba(255,255,255,0.5) inset;
    border-radius: 3px;
    border: 1px solid;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    position: relative;
  
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  } 

  /*
   * Custom styles
   */
  .btn {
    background-color: #dbdbdb;
    border-color: #bbb;
    color: #666;
  }
  .btn:hover,
  .btn.active {
    text-shadow: 0 1px 0 #b12f27;
    background-color: #f64136;
    border-color: #b12f27;
  }
  .btn:active { box-shadow: 0 0 5px 3px rgba(0,0,0,0.2) inset; }
  .btn span { color: #f64136; }
  .btn:hover, .btn:hover span,
  .btn.active, .btn.active span { color: #eeeeee; }
  .btn:active span {
    color: #b12f27;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  }
